/* * {
  border: 1px solid red;
} */

body {
  text-align: center;
  background: #FFF10A;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

ul {
  padding: 0;
  background: #FEC208;;
}

li {
  padding: 5px;
  margin: 5px 0;
  background: #FF2D08;
  list-style-type:none;
  text-align: center;
  border: 1px solid black;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}


.container {
  display: flex;
  text-align: center;
}

.col, .container, ul {
  justify-content: center;
  margin: 0 auto;
}

.col {
  border: 5px solid black;
  padding-bottom: 30px;
  width: 31%;
  min-height: 200px;
  height: auto;
}

.col-1 {
  background: #FEC208;
  height: 250px;
}
.col-2 {
  background: #FEC208;
}
.col-3 {
  
  background: #FEC208;
}

h1, h2 {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    color: white;
    font-size: 2rem;
}

h1 {
  margin: 5px;
}

h4 {
  font-size: 1.3rem;
  padding: 0;
  margin: 0 0 5px 0;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  color: white;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 26px;
}

form {
  background: #FF2D08;
  padding: 20px;
  border: 1px solid black;
}

input {
  display: inline-block;
}

button {
    display: inline-block;
    border: 1px solid black;
    padding: 1px 5px;
    margin: 0;
    background: #23ad27;
    color: #ffffff;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}

button:active {
    transform: scale(0.99);
}